body {
    background-color: #FFACA3;
}

main {
    display: flex;
    justify-content: center;    
}

nav {
    display: flex;
    background-color: #F279B2;
    position: absolute;
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: 0;
}

nav:hover{
    transition: all 0.2s;
    background-color: white;
}

nav a:hover{
    transition: all 0.2;
    color: #F279B2; 
}

nav a {
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    color: white;
}