body {
    margin: 0;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #FFACA3;
    align-items: center;
    justify-content: center;
}

section {
    border-radius: 2%;
    padding: 1%;
    width: 350px;
    height: 350px;
    background-color: #F279B2;
    box-shadow: 10px 5px 5px rgb(97, 95, 95);
    overflow: hidden;
}

section div h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    color: white;
}

section div p {
    font-family: 'Kanit', sans-serif;
    color: #D8C0FA;
    
}
ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

ul li{
    margin: 1%;
}

ul li:hover{
    transition: all 0.1s;
    transform: scale(120%);
}